.bookItemContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: rgba($color: #fff, $alpha: 0.9);
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 90%;
}

.bookItemInfoContainer {
	width: 70%;
}

.bookItemActionContainer {
	display: flex;
	flex-direction: column;
	gap: 3px;

}

.bookCover {
	border-radius: 4px;
	height: 200px;
	width: 200px;
	object-fit: contain;
}

.bookTitle {
	font-size: 1.5rem;
	font-weight: bold;
}

.bookAuthor {
	font-size: 1.2rem;
	color: #888;
}

.bookDescription {
	margin-top: 0.5rem;
	font-size: 1rem;
}

.bookPublicationDate {
	margin-top: 0.5rem;
	font-size: 0.9rem;
	color: #666;
}