.bookItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #000;
	margin-bottom: 1rem;
	width: 100%;
	max-width: 400px;
}

.bookCover {
	max-width: 100%;
	height: auto;
	border-radius: 4px;
	margin-bottom: 1rem;
}

.bookTitle {
	font-size: 1.5rem;
	font-weight: bold;
}

.bookAuthor {
	font-size: 1.2rem;
	color: #888;
}

.bookDescription {
	margin-top: 0.5rem;
	font-size: 1rem;
}

.bookPublicationDate {
	margin-top: 0.5rem;
	font-size: 0.9rem;
	color: #666;
}

.favoriteButton {
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	color: var(--primary-color);
}